
<div class="bg-light container pt-3 pb-5">

  <div class="row mt-5">

      <div class="col-12 text-center head-div bg-white">
          <h1>The ECO Metrics <small class="d-block">(Finding your ECO)</small></h1>
          <p>
            As ECO leaders and Hybrid thinkers; To measure your impact , you have to juxtapose your activities against the ECO metrics.
          </p>
      </div>

      <div class="col-12 mt-5 text-justify">
        <h3>Your activities have to be positively impacting </h3>
        <ol>
          <li>The Environment</li>
          <li>Your immediate community</li>
          <li>Your organisation</li>
        </ol>

        <p>
          While we encourage people and organisations to have ECO centric goals and activities that impact all 3 areas, The ECO still recognized activities that impact one or two of the 3 areas as valuable.
        </p>
      </div>

      <div class="col-12 mt-3 text-justify">
        <h3>Dont know what the ECO-centric goals look like?.</h3>
        Check how we have design our metrics for any location activities using the UN SDG; as the global sustainability goal we start from there to measure impact. Others would follow for transparency and accountability.

        <div>
          <h4 class="text-success mt-3" >Enviroment</h4>
          <ul style="list-style-type: none;">
            <li>
              6. Clean water and Sanitation.
            </li>
            <li>
              7. Clean Energy.
            </li>
            <li>
              13. Protect the Planet.
            </li>
            <li>
              14. Life below water.
            </li>
            <li>
              15. Life on land.
            </li>
            <li>
              12. Responsible Consumption.
            </li>
          </ul>
        </div>

        <div>
          <h4 class="text-primary" >Community</h4>
          <ul style="list-style-type: none;">
            <li>
              1. No poverty.
            </li>
            <li>
              2. No hunger.
            </li>
            <li>
              3. Good health.
            </li>
            <li>
              4. Quality Education.
            </li>
            <li>
              11. Sustainable Cities and Communities.
            </li>
            <li>
              16. Peace and Justice.
            </li>
          </ul>
        </div>

        <div>
          <h4 class="text-danger" >Organisation</h4>
          <ul style="list-style-type: none;">
            <li>
              5. Gender equality.
            </li>
            <li>
              8. Good jobs.
            </li>
            <li>
              9. Innovation and infastructure.
            </li>
            <li>
              10. Reduce Inequalities.
            </li>
            <li>
              17. Partnership for the Goals
            </li>

          </ul>
        </div>


      </div>

      <div class="col-12 mt-3 text-center">
        <button class="btn btn-primary btn-bg" [routerLink]="'/about'" >Read about the ECO</button>
      </div>

  </div>

</div>
