
<div class="bg-light container pt-2 pb-5">

    <div class="row mt-5">

        <div class="col-12 about-img text-center">
          <img src="/assets/img/about.jpg" class="img-fluid" alt="">

        </div>

        <div class="col-12 text-center head-div bg-white">
            <h1>The ECO <small class="d-block">(Changing metrics)</small></h1>
            <em class="lead">ECO is Home…… Home is Economy</em>
        </div>

        <div class="col-12 mt-3">
          <h3>Hello there!</h3>
          When I am asked " What is the ECO?". I am hard pressed not to wax lyrical.

          <p class="text-success lead mt-3" >Let me paint you a picture .</p>
        </div>

        <div class="col-12 text-justify">
          If you are to measure the worth (productivity) of a place I bet you will most likely measure it based on its GDP, financial outputs and what it produces, and that is okay.
          I have always wondered how Silas from Ikorodu will get his recognition for trying to bridge the gap between Nigerian local farmers and Agro tech investors in his own little way.
          I am always baffled at how the Forbes something under something list( suddenly a height to aspire to) is collated,if the persons on that list are really making impacts, and if someone else is not doing it better, but we just don't know about them.
        </div>

        <div class="col-12 mt-3 text-justify">
          Is there an accurate way to measure the impact that the regular citizen has on his community?
          Is there a way to take the man who helps to control traffic, without seeking reward, from the congested street in Lagos to the world?
          Can we take away the metrics of economics and the economy and use people and their  impact to measure a city?
          How do we help Uche in Aba know that Mugunda in Kenya is working on creating a new line of leather slippers, and that the pattern Uche has is the perfect pattern Mugunda needs ?
          Oh, is there a way to shake the norm and usher in a new metrics for measuring people, the environment , actions e.t.c?
        </div>

        <div class="col-12 mt-3 text-justify">
          <h3>There it is; The ECO.</h3>
          <p class="text-primary lead">What then is the ECO?</p>
          Simply put: the ECO is the platform that will change how impact is measured. Not by produce or financial metrics, but by people, their actions and the value they are adding to their community .
          ECO simply means Environment  Community, and Organization.
          The ECO is a connector of worlds, cultures and values.
          The ECO is more than a platform, it is the very representation of human data.
          I wish I could say the ECO was just a website,but I can't.
          Hidden within the rooms of the ECO are data and contents , collated over time, pulling strings from one end of the world to the other ,connecting people of shared values, blowing the trumpet of the local man, and connecting talents to customer.
          Despite this explanation, the ECO is a lot more.
          Once again, Hello! and welcome to the ECO. Buckle up and make yourself comfortable. This is the ride for a lifetime.
        </div>

        <div class="col-12 mt-3 text-justify">
          <h3>Why the ECO?</h3>
          <p class="text-danger lead">And how does it concern me?</p>
          Because there is more to every place than the economics metrics by which it is measured,
          And as a part of of the Environment, a Community or an Organisation, you automatically are a part of The ECO. Now whether you are doing something for The ECO is why this platform exist.
        </div>

        <div class="col-12 mt-3 text-justify">
          <h3>How do you measure your ECO impact?</h3>
          <ul>
            <li>
              You want to know if you are adding the value to The ECO? Then check out <a [routerLink]="'/metric'" >The ECO metrics</a>.
            </li>
            <li>
              <a href="https://forms.gle/S866hM5m9yA61VPj6" target="_blank">Blow your ECO trumpet</a> (tell us what you are doing in and for your ECO).
            </li>
          </ul>
        </div>

        <div class="col-12 mt-3 text-center">
          <h3 class="m-auto" >How you can be a part of The ECO.</h3>

          <span class="d-block">
            1. Be intentional about adding value and tell us what you are doing.
          </span>
          <span class="d-block">
            2. Find your ECO tribe, and connect.
          </span>
          <span class="d-block">
            3. Put up tasks here on the platform
          </span>
          <span class="d-block">
            4. Fund a change enterprise

            <form action="https://www.paypal.com/cgi-bin/webscr" class="mt-3" method="post" target="_blank">
              <input type="hidden" name="cmd" value="_s-xclick" />
              <input type="hidden" name="hosted_button_id" value="WYDEA2WC54X28" />
              <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
              <img alt="" border="0" src="https://www.paypal.com/en_NG/i/scr/pixel.gif" width="1" height="1" />
            </form>
           </span>

        </div>

        <div class="col-12 mt-3 text-center">
          <em class="lead">ECO is Home…… Home is Economy</em>
        </div>

    </div>

</div>
