
<!-- <div class="bg"></div> -->

  <div class="container-fluid m-auto">

    <div class="row">

      <div class="col-12 d-flex justify-content-center align-items-center" style="height: 100vh;">
        <!-- <img src="/assets/img/coming_soon.png" class="img-fluid"  alt=""> -->
        <div>
          <img src="/assets/img/coming_soon_1.jpg" class="img-fluid" alt="">

          <div class="text-center mt-5">
            <button class="btn btn-primary btn-bg" [routerLink]="'/about'" >Read about the ECO</button>
          </div>

        </div>
      </div>


    </div>

  </div>

