
<!-- <div class="bg"></div> -->

  <div class="container-fluid m-auto">

    <div class="row">

    <div class="col-12 d-flex justify-content-center align-items-center" style="height: 100vh;">
      <!-- <img src="/assets/img/coming_soon.png" class="img-fluid"  alt=""> -->
      <div>
        <img src="/assets/img/coming_soon_1.jpg" class="img-fluid" alt="">
        <!-- <img src="/assets/img/bg_.png" alt=""> -->

        <!-- <div class="col-12 mt-4 lead border-top p-2 text-center text-secondary">
          <h4> The new market place </h4>
          <p> #letsdoit </p>
        </div> -->
      </div>
    </div>




      <!-- <video autoplay [muted]="true" loop #video>
        <source src="/assets/img/coming_soon.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
      </video> -->



    </div>

  </div>

